################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Programming-assignment/FileContentIndex/4f5f3522-ec76-4eee-9332-ae9dc54f3b58.vsidx
/.vs/Programming-assignment/v17
/.vs
